.backgroundImg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    opacity: 100%;
}

.header {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px black;
}

h1,
h2 {
    position: relative;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 5%;
    font-size: 3.8rem;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;

}

h2 {
    font-size: 2.1rem;
}
.cards {
    overflow-y: scroll;
    height: 375px;
}